<div class="bdsharebuttonbox">
	<a href="#" class="fx fa-weibo bds_tsina" data-cmd="tsina" title="Share in Weibo"></a>
	<a href="#" class="fx fa-weixin bds_weixin" data-cmd="weixin" title="Share in WeChat"></a>
	<a href="#" class="fx fa-qq bds_sqq" data-cmd="sqq" title="Share in QQ"></a>
	<a href="#" class="fx fa-facebook-official bds_fbook" data-cmd="fbook" title="Share in Facebook"></a>
	<a href="#" class="fx fa-twitter bds_twi" data-cmd="twi" title="Share in Twitter"></a>
	<a href="#" class="fx fa-linkedin bds_linkedin" data-cmd="linkedin" title="Share in LinkedIn"></a>
	<a href="#" class="fx fa-files-o bds_copy" data-cmd="copy" title="Share in others"></a>
</div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"2","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='<%- config.root %>static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
